.comment{
    display:flex;
    flex-direction:column;
    margin-top:1rem;
    margin-bottom:1rem;
    border: 1px black solid;
    border-radius: 20px;
}

.comment p{
    width:fit-content;
}

.thumbs{
    display:flex;
}