.itemDetails{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.itemThumbs{
    display:flex;
    flex-direction: row;
}

.itemThumbs p{
    padding-left:0.5rem;
    padding-right:0.5rem;
}
